.underline {
    border-bottom: solid 2px #ffc107;
}

.radio {
    ;
}

.yellow-font {
    /*font-size: 60px;
    text-shadow: 5px 3px 0 orange;
    */
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: orange;
    -webkit-text-fill-color: white;
}


footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #956840;
    text-align: center;
}

footer #footer_navi {
    background-color: #f0f0f0;
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: block;
    /* padding: 上下のpadding 左右のpadding; */
    padding: 8px 0;
    color: #fff;
}


/*サイドバー*/
.channel-menu {
    position: fixed;
    top: 0;
    @media screen and (max-width: 600px) {
      position: inherit;
      margin-left: 0;
    }
  }
  
  .channel-menu_name {
    display: inline-block;
    padding: 0 0.5rem 0 1.5rem;
    color: #aaabe4;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 53px;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      padding-left: 0;
    }
  }
  .channel_name .prefix {
    margin-right: 8px;
  }
  
  .channel-menu_prefix {
    padding-right: 0.5rem;
    font-weight: 500;
  }
  .channel-menu_date {
    font-weight: bold;
  }
  .channel-menu h3 {
    float: right;
    padding-right: 0.1rem;
    font-weight: 500;
  }
  .listings {
    min-height: 100vh;
    height: 100%;
    width: 220px;
    float: left;
    /*tagAの文字*/
    color: black;
    /*サイドバー全体の背景*/
    background-color: rgb(251, 255, 0);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    @media screen and (max-width: 600px) {
      display: none;
      position: absolute;
      &.show {
        display: block;
      }
    }
  }
  
  .listings_channels {
    margin: 1rem 0 2rem;
  }
  /*adminの文字*/
  .listings_header {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin: 0 1rem 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    width: 165px;
    position: relative;
  }
  
  /*tagAの文字*/
  .channel_list {
    padding: 0;
    list-style-type: none;
    text-align: left;
    color: white;
  }
  
  .channel {
    height: 24px;
    line-height: 24px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-right: 17px;
    color: #ffffff;
    padding-left: 1rem;
    a {
      color: white;
      text-decoration: none;
      width: 100%;
      display: inline-block;
    }
    a:hover {
      color: rgb(255, 255, 255);
    }
  }
  
  /*tagAの文字の背景*/
  .channel.active {
    background: white;
  }

/*サイドバー*/
