<footer>
<div id="footer_navi">
    <ul>
        <li><%= link_to  'Toppage', charts_path %></li>
        <li><a href="https://twitter.com/KVQm1f6x7DQSBmj">Twitter</a></li>
        <li><a href="https://github.com/john-miha">GitHub</a></li>
    </ul>
</div>
<small>&copy; 2022 john-miha</small>
</footer>
