<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">admin</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('tagA', charts_path) %>
      <%= sidebar_link_item('tagB', charts_path) %>
      <%= sidebar_link_item('tagC', charts_path) %>
    </ul>
  </div>
</div>